html{
    overflow: hidden;
}
body{
    background-image:url('../img/background.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow: hidden;
    -webkit-animation-name: boxMove;
    -webkit-animation-duration: 2s;
    animation-name: boxMove;
    animation-duration: 2s;

}
@keyframes boxMove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes boxMove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo{
    height: 22vh;
    text-align: center;
    background-image:url('../img/chooseLevel.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
a > img:hover{
transform: scale(1.2)
}
.menu{
    position: fixed;
    left: 0;
    bottom: 0;
}
.flex-start{
    float: left;
}
.flex-end{
    float: right;
    position: inherit;
    right: 0;
}
.levelIcon{
    
    border: 1px solid black;
}